In [1]:
import pandas as pd
import numpy as np
import os
import sys

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
sys.path.append('/Users/tevans-barton/AAASideProjects/')
sys.path.append('../')

In [4]:
import etl
import processing
import analysis

In [5]:
#etl.get_data()

In [6]:
#processing.create_final_data()

In [44]:
#analysis.get_all_correlations()

changed

       Position Measurement  Sample Size  Correlation
0         Guard          Ht          105    -0.015883
1         Guard          Wt          105     0.061812
2         Guard        40yd          105    -0.244916
3         Guard    Vertical          105     0.149974
4         Guard       Bench          105     0.088102
..          ...         ...          ...          ...
147  Linebacker       Bench           37    -0.021788
148  Linebacker  Broad Jump           37     0.033206
149  Linebacker       3Cone           37    -0.036825
150  Linebacker     Shuttle           37    -0.202112
151  Linebacker        Pick           37    -0.405928

[152 rows x 4 columns]